/* =================================================================================================
Index:
GLOBAL Styles
HEADER Styles
MAIN CONTENT Styles
WRAPPER Styles
FOOTER Styles
================================================================================= */

/* GLOBAL styles ----------------------------------------------------------------- */

/* Set border-box for predictable box-sizing */
html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(46, 111, 196);
}
/* Font styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2,
h3 {
  text-align: center;
  color: rgb(22, 77, 150);
}

h3 {
  font-size: 0.9rem;
}

/* Link styles */
a {
  font-weight: 600;
  color: rgb(42, 62, 88);
  text-decoration: none;
  transition: all 0.5s ease;
}

a:visited {
  font-weight: 400;
  color: rgb(107, 148, 202);
  font-style: italic;
}

a:hover {
  color: rgb(38, 0, 255);
}

a:active {
  color: rgb(0, 195, 255);
}

hr {
  margin: 80px 0;
  border: 1px solid rgba(107, 148, 202, 0.5);
}

/* HEADER styles ----------------------------------------------------------------- */

/* Brand / Logo */
.home h1 {
  z-index: 1;
  margin: 0;
  line-height: 2rem;
  text-transform: uppercase;
}

.home p {
  z-index: 1;
  margin-bottom: 0;
}

/* Nav */
nav {
  margin-left: auto;
}
/* Nav unordered list styling */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Nav list items */
header nav li {
  display: inline;
}

nav li {
  margin: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Nav Link styles */
div nav li .nav-link {
  color: #bfe8ff;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

div nav li a:hover {
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

/* MAIN CONTENT Styles ----------------------------------------------------------------- */

/* Photo */
.photo {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Subtext */
.sub-text {
  text-align: center;
  margin-bottom: 40px;
}

/* WRAPPER Styles ----------------------------------------------------------------- */

/* Wrappers to align content and styling consistency */
.header-wrapper,
.footer-wrapper,
.content-wrapper {
  margin: auto;
  padding: 40px 160px;
}

.header-wrapper,
.footer-wrapper {
  background: rgb(46, 111, 196);
  color: white;
  text-align: center;
}

.header-wrapper {
  display: flex;
}

.content-wrapper {
  background: white;
}

.p-wrapper {
  max-width: 60%;
  margin: 0 auto;
}

/* FOOTER Styles ----------------------------------------------------------------- */

/* The footer-wrapper keeps footer at the absolute bottom */
.footer-wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
}

footer ul {
  list-style: none;
}
footer nav ul li {
  padding-left: 0;
}
